@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700;800&display=swap');

html { scrollbar-gutter: stable; } /* prevent layout jump when scrollbar shows/hide */

*:has(.Browser), .Browser, .Browser * { box-sizing: border-box; }
body:has(.Browser) { font-family: 'Open Sans', Arial, Verdana, sans-serif; background-color: rgb(248 250 252)}

/* Explicit table height - there are alternatives */
.Browser fieldset.hyperfiddle-navigator4__block:not(.entity-children) table { height: calc(16 * var(--row-height)); }  /* 15 rows + header row */
.Browser fieldset.hyperfiddle-navigator4__block.entity-children tbody { height: calc(15 * var(--row-height)); }  /* 15 rows , header row outside */
.Browser fieldset.hyperfiddle-navigator4__block { height: fit-content; }

/* Progressive enhancement */
.Browser fieldset.entity table { grid-template-columns: 15em auto; }
.Browser.hyperfiddle-datomic-browser-demo-DbStats .entity-children table { grid-template-columns: 36ch auto;}

/* Resize handle */

:where(.Browser fieldset.hyperfiddle-navigator4__block table) {height: inherit; resize: vertical; }
:where(.Browser fieldset.hyperfiddle-navigator4__block.entity-children tbody) { height: inherit; resize: vertical; }

/* Special full-screen pages */

:is(:has(nav), :has(.Browser)){ display: flex; flex-direction: column; }

html:has(.hyperfiddle-datomic-browser-demo-attributes, .hyperfiddle-datomic-browser-demo-attribute-detail)
 {height: 100dvh;}

:has(.hyperfiddle-datomic-browser-demo-attributes, .hyperfiddle-datomic-browser-demo-attribute-detail)
, .hyperfiddle-datomic-browser-demo-attributes, .hyperfiddle-datomic-browser-demo-attribute-detail
, :is(.hyperfiddle-datomic-browser-demo-attributes, .hyperfiddle-datomic-browser-demo-attribute-detail)
     fieldset.hyperfiddle-navigator4__block
{ height: 100%; box-sizing: border-box; }

.Browser:is(.hyperfiddle-datomic-browser-demo-attributes, .hyperfiddle-datomic-browser-demo-attribute-detail)
    fieldset.hyperfiddle-navigator4__block :is(table, tbody)
 { height: inherit; resize: none;}


/*
 Let table pickers fill available vertical space.
 Table pickers will expand to fill available vertical space by default, unless given an explicit CSS height or max-height.
 Here we make sure their parent containers do provide available space for pickers to expand in.
*/
/*
body.electric-fiddle { height: 100dvh; box-sizing: border-box; }
:not(body):has(.hyperfiddle-electric-forms5__table-picker) { height: 100%; }
*/
